table.key,
th.key,
td.key {
  text-align: center;
  table-layout: fixed;
  background-color: gray;
}

table.key {
  margin-right: 0%;
  margin-left: auto;
}

td.key {
  height: 70px;
  width: 90px;
}

button.key {
  display: inline-block;
  width: 100%;
  border: none;
  height: 100%;
  font-size: 25px;
}

td.display {
  width: 100%;
  height: 60px;
  background-color: lightgray;
  text-align: end;
  vertical-align: middle;
  font-size: 30px;
}
div.display {
  font-family: "digital-7mono";
  vertical-align: middle;
  font-size: 75px;
}
td.stackView {
  white-space: pre-wrap;
  font-size: 24px;
  background-color: lightcyan;
  width: 30%;
  height: 100%;
  text-align: left;
}

div.stackView {
  padding-left: 30px;
}

table.content,
tr.content,
td.content {
  border: 5px solid darkgray;
  border-collapse: collapse;
  vertical-align: top;
  padding: 0px;
}
