<h2>NO RPN (Infix)</h2>
<!-- Rounded switch -->
<div style="display: flex; align-items: center">
  <label class="switch">
    <input type="checkbox" [(ngModel)]="isOnline" name="isOnline" />
    <span class="slider round"></span>
  </label>
  <h4 style="padding-left: 5px">Should I call the external API?</h4>
</div>
<br />
<table class="content">
  <tr class="content">
    <td class="content display" colspan="2">
      <div class="display">{{ line }}</div>
      <div *ngIf="!line"><br /></div>
    </td>
  </tr>
  <tr class="content">
    <td class="content stackView">
      <h3 style="text-align: center">Stack (🠗):</h3>
      <div class="stackView">
        {{ stackView }}
      </div>
    </td>
    <td class="content">
      <table class="key">
        <tr class="key">
          <td class="key">
            <button class="key" title="7" (click)="addToLine(7)">7</button>
          </td>
          <td class="key">
            <button class="key" title="8" (click)="addToLine(8)">8</button>
          </td>
          <td class="key">
            <button class="key" title="9" (click)="addToLine(9)">9</button>
          </td>
          <td class="key">
            <button class="key" title="plus" (click)="operationOnStack('+')">
              +
            </button>
          </td>
        </tr>
        <tr class="key">
          <td class="key">
            <button class="key" title="4" (click)="addToLine(4)">4</button>
          </td>
          <td class="key">
            <button class="key" title="5" (click)="addToLine(5)">5</button>
          </td>
          <td class="key">
            <button class="key" title="6" (click)="addToLine(6)">6</button>
          </td>
          <td class="key">
            <button class="key" title="minus" (click)="operationOnStack('-')">
              -
            </button>
          </td>
        </tr>
        <tr class="key">
          <td class="key">
            <button class="key" title="1" (click)="addToLine(1)">1</button>
          </td>
          <td class="key">
            <button class="key" title="2" (click)="addToLine(2)">2</button>
          </td>
          <td class="key">
            <button class="key" title="3" (click)="addToLine(3)">3</button>
          </td>
          <td class="key">
            <button class="key" title="times" (click)="operationOnStack('*')">
              *
            </button>
          </td>
        </tr>
        <tr class="key">
          <td class="key">
            <button class="key" title="PUSH" (click)="clearStack()">
              CRL ALL
            </button>
          </td>
          <td class="key">
            <button class="key" title="CLEAR LINE" (click)="clearLine()">
              CRL LN
            </button>
          </td>
          <td class="key">
            <button class="key" title="0" (click)="addToLine(0)">0</button>
          </td>
          <td class="key">
            <button class="key" title="divide" (click)="operationOnStack('/')">
              /
            </button>
          </td>
        </tr>
        <tr class="key">
          <td colspan="4" class="key">
            <button class="key" title="PUSH" (click)="equalKey()">=</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
