<h1 class="title">Calcolatrice (RPN?)</h1>
<div class="flex-container">
  <div class="flex-child">
    <app-calc></app-calc>
  </div>
  <div class="flex-child">
    <app-calc-norpn></app-calc-norpn>
  </div>
</div>
